Task2/Task2_MorningBrief_Vinisha.json
{
  "name": "Task2_MorningBrief_Vinisha",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "23be0c70-2ded-4fcc-bdff-f76110f4fb8c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/markets",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "vs_currency",
              "value": "usd"
            },
            {
              "name": "order",
              "value": "market_cap_desc"
            },
            {
              "name": "per_page",
              "value": "10"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "sparkline",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "9c71647f-c86e-4381-b12d-4a9272cc6090",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst coins = items.map(i => i.json);\n\nconst top5 = coins\n  .sort((a, b) => b.market_cap - a.market_cap)\n  .slice(0, 5);\n\nreturn top5.map(coin => ({\n  json: {\n    id: coin.id,\n    name: coin.name,\n    symbol: coin.symbol,\n    price: coin.current_price,\n    change: coin.price_change_percentage_24h\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "b6b22d09-06c4-4e1d-ac40-c2ad30a7daa7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://api.coingecko.com/api/v3/coins/{{$json[\"id\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "736f9089-596a-46cf-b1de-d72e28600919",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "29c7e0c9-46fe-465b-8466-98d234ae604a",
              "leftValue": "={{$json[\"market_data\"][\"market_cap\"][\"usd\"]}}",
              "rightValue": 100000000000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "a4528e63-08aa-4b74-a75d-b5316c988d27",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1508723990422618283/tiuuQ5tt5P3TqMCQn0Igxf1pd-H5DDp0asmI9lVEduvEoUFA1XBZGagq0GmAy2fZwsmI",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"🔥 LARGE CAP ALERT\\nCoin: {{$json['name']}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        -96
      ],
      "id": "7f5f7fc2-4156-440f-a2d6-c71927dafccb",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1508723990422618283/tiuuQ5tt5P3TqMCQn0Igxf1pd-H5DDp0asmI9lVEduvEoUFA1XBZGagq0GmAy2fZwsmI",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"📈 Crypto Update\\nCoin: {{$json['name']}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        96
      ],
      "id": "25786e0f-4e81-4745-b92f-9b736eda00f8",
      "name": "HTTP Request3"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "26057381-2f95-4b79-850d-6f14d6e0fd09",
  "meta": {
    "instanceId": "f48fd8a95e330ae7792bfe0fd2e1b2b7fd9e67d45cac511878e67851549b36eb"
  },
  "id": "Zu4yeisPLtZhlBip",
  "tags": []
}